@font-face {
    font-family: 'NorseBold';
    src: url('../fonts/Norse-Bold.otf') format('opentype');

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0px;
    height: 100%;
    background-color: #F9FAFB;
    ;

}



.leftSide {
    background: url(/img/green.jpg) no-repeat;
    border: 0;
    width: 40%;
    align-content: center;
    background-size: cover;
    background-position: center;

}

.odinLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    padding: 20px;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
    top: -25vh;
}

.odinLogo img {
    height: 100%;
}

.odinLogo p {
    color: white;
    font-size: 80px;
    font-family: 'NorseBold', sans-serif;
}


.leftSideFoot {
    display: flex;
    justify-self: center;
    position: relative;
    bottom: -41vh;
    left: 5vh;
}

.leftSideFoot p {
    color: rgb(255, 255, 255);
}

.leftSideFoot a:visited {
    color: rgb(199, 201, 221);
}

.leftSideFoot a:hover {
    color: rgb(187, 131, 239);
    transition: 0.5s;
}




.rightSide {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.rightSide>div {
    padding-left: 3rem;
}

.rightSide>div>p {
    margin-top: 0;
    margin-bottom: 0;
}

.textR,
.textRs,
.formTitle {
    font-size: 1.5rem;
}

.textR {
    margin-top: 8rem;
}

.form{
    background-color: rgb(255, 255, 255);
}
.formStart {
    display: flex;
    justify-content: left;
    gap: 5rem;
    flex-wrap: wrap;
}

.formStart div {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}

.formStart>div {
    margin-bottom: 2rem;
}

.formStart div div label {
    font-size: 15px;
}

.formStart div div input {
    width: 100%;
    
}
.formStart div div input:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 1);

}
#line1{
    width: 100%;
    opacity: 0.1;
    margin-top: -0.1px;
    background-color: #313d27;

}
#line{
    width: 100%;
    opacity: 0.3;
    margin-bottom: -0.px;
    background-color: #313d27;
}



.error-message {
    display: none;
    color: #d30c34;
    font-size: 12px;
    margin-top: -5px;
}

input:not(:focus):invalid+.error-message {
    display: none;
}

input:invalid+.error-message {
    display: block;
    margin-top: 4px;
}
input:not(:focus):invalid {
    border: 1px solid rgba(128, 128, 128, 0.2); /* Neutraler grauer Rand */
}

input::placeholder {
    color: grey;
    font-size: 16px;
    opacity: 0.4;
}


.formStart div div input {
    height: 1.8rem;
    width: 15rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    outline: none;
    padding: 0.5rem;
    font-size: 18px;
}

.formStart div div {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.submtion {
    display: flex;
    flex-direction: column;
    gap: 2.2rem
}

.submtion a {
    color: #596D48;
}

.submtion a:visited {
    color: #313d27;
}

#forSubmtion {
    cursor: pointer;
    height: 3rem;
    width: 14rem;
    background-color: #596D48;
    color: white;
    font-size: 16px;
    border: 0px;
    border-radius: 0.6rem;
    box-shadow: 0.2rem 0.2rem 1rem rgba(0, 0, 0, 0.5);
}